body{
  font-family: 'Raleway', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
.prices__title{
  color:#ffffff;
  text-align: center;
  margin-top: -1rem;
  margin-bottom: 2rem;
}
.btn-precios{
  width: 15rem;
}
.footer{
  color:#ffffff;
}
.oculto{
  color:#ffffff;
}
