header{
  margin-bottom:10em;
}
.trekking{
  position:absolute;
  z-index: -1;
  margin-top: 15rem;
}
.card-header{
  position:absolute;
  z-index: 1;
  border-color: #ffffff;
  background-color: #ffffff;
  border-top: 5rem;
  margin-top: 5rem;
}
