@@ -1,42 +1,46 @@
.features {
  padding: 0 8%;
  margin-bottom: 6%;
  .features__title {
    @include relative-converter(font-size, rem, $x-large, 16);
    padding-bottom: 2%;
    text-align: center;
  }
  .features__flexbox-container {
    padding-top: 2%;
  }
  .features__item {
    margin-bottom: 5%;
  }

  @include respond-to('medium') {
    .features__title {
      @include relative-converter(font-size, rem, $xx-large, 16);
      text-align: center;
    }
  .features__item-grafico:hover {
    animation: opacidad 4s ease-in;
  }
}

    .features__flexbox-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
      padding-top: 2%;
@include respond-to('medium') {
  .features__title {
    @include relative-converter(font-size, rem, $xx-large, 16);
    text-align: center;
  }

      .features__item {
        max-width: 500px;
        margin-bottom: 5%;
      }
  .features__flexbox-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 2%;

      .features__item-right {
        padding: 0px 30% 0px 0px;
      }
    .features__item {
      max-width: 500px;
      margin-bottom: 5%;
    }

    .features__item-right {
      padding: 0px 30% 0px 0px;
    }
  }
}
